.client {
  background-color: var(--light-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.client-list {
  display: flex;
}
.client-list-item {
  width: 170px;
  height: 90px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}
