.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--dark-color);
}
.footer-container {
  display: block;
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
}
/*.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--dark-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-social-block {
  display: block;
  margin-left: 70px;
}

.footer-social-list {
  display: flex;
}*/
