.description-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--text);
  width: 450px;
  margin-bottom: 30px;
}
.description-list-link {
  width: 450px;
  height: 120px;
  display: block;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: var(--desk-link);
}
.description-list-icon {
  width: 70px;
  height: 70px;
}
.specialists {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-spec);
  margin-top: 30px;
}
.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text);
  margin-top: 10px;
  margin-bottom: 16px;
}
@media screen and (min-width: 768px) {
  .description {
    margin: 15px;
  }
  .description-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--text);
    width: 354px;
  }
  .description-list-link {
    width: 354px;
    height: 120px;
    display: flex;
    border-radius: 4px;
    margin-bottom: 30px;
    background-color: var(--desk-link);
  }
}
@media screen and (min-width: 1200px) {
  .description-list-link {
    width: 270px;
    height: 120px;
    display: flex;
    background-color: var(--desk-link);
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .description-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    letter-spacing: 0.03em;
    color: var(--text);
    width: 270px;
    margin-bottom: 47px;
  }
  .text-position {
    position: absolute;
    display: flex;
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.143;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--light-color);
    background: rgba(47, 48, 58, 0.8);
  }
}

/*.description {
    width: 270px;
    box-sizing: border-box;
  
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
.description-list-link {
  width: 270px;
  height: 120px;
  display: flex;
  background-color: var(--desk-link);
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
}
.description-list-icon {
  width: 70px;
  height: 70px;
}
.description-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--text);
  width: 270px;
  margin-bottom: 47px;
}
.text-position {
  position: absolute;
  display: flex;
  width: 100%;
  height: 70px;
  left: 0;
  bottom: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
  background: rgba(47, 48, 58, 0.8);
}
.specialists {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-spec);
}
.profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text);
  margin-top: 5px;
  margin-bottom: 16px;
}
.footer-social-title {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light-color);
  margin-bottom: 20px;
}*/
