.logotype {
  font-family: Raleway;
  font-weight: 700;
  width: 134px;
  color: var(--logo-span);
  text-decoration: none;
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-left: 15px;
}
.logo-img {
  color: var(--logo-nav-header);
}
.logo-footer-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.logo {
  display: block;
  font-family: Raleway;
  width: 154px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--logo-span);
  text-decoration: none;
}
.logo-style-footer {
  color: var(--light-color);
}

.studia {
  color: var(--color-item-page);
}
.portfolio {
  color: var(--color-item-page);
}
@media screen and (min-width: 1200px) {
  
}
