.logotype {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.174;
  letter-spacing: 0.03em;
  color: var(--logo-span);
  text-decoration: none;
  padding-top: 24px;
  padding-bottom: 25px;
  width: 145px;
  margin-right: 93px;
}
.logo-img {
  color: var(--logo-nav-header);
}
.studia {
  color: var(--color-item-page);
}
.logo-footer-item {
  display: block;
}
.logo-style-footer {
  color: var(--light-color);
}
.logo {
  font-family: Raleway;
  width: 145px;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.174;
  letter-spacing: 0.03em;
  color: var(--logo-span);
  text-decoration: none;
}
